.featured-reviews .featured-reviews__block {
  cursor: pointer;
}
.featured-reviews__verified_customer p,
.featured-reviews__text p {
  font-family: var(--font-body-op-family);
  font-style: var(--font-body-op-style);
  font-weight: var(--font-body-op-weight);
}
.featured-reviews {
  position: relative;
  z-index: 1;
}
.featured-reviews__heading,
.featured-reviews__heading p,
.featured-reviews__stars p,
.featured-reviews__text p,
.featured-reviews__verified_customer p {
  margin: 0;
}
.featured-reviews__stars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.featured-reviews__wrapper_head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.featured-reviews-align-center {
  align-items: center;
}
.featured-reviews-align--left {
  align-items: flex-start;
}
.featured-reviews-align--right {
  align-items: flex-end;
}
.pagination-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination-number {
  cursor: pointer;
  background: transparent;
  border: none;
  color: rgba(var(--color-foreground));
  font-family: var(--font-heading-family);
  font-style: var(--font-heading-style);
  font-weight: var(--font-heading-weight);
  line-height: normal;
}
.pagination-number.active:after {
  display: block;
  content: "";
  margin-top: 5px;
  height: 1px;
  width: 100%;
  background: rgb(var(--color-heading));
}
.section-featured-reviews .modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.section-featured-reviews .modal.open {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  z-index: 3;
}
.section-featured-reviews .modal-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.section-featured-reviews .modal-close {
  position: absolute;
  outline: none;
  appearance: none;
  background: none;
  border: 0px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}
.section-featured-reviews .modal-close span {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
.section-featured-reviews .modal-close:after,
.section-featured-reviews .modal-close:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 30px;
}
.section-featured-reviews .modal-close:after {
  background: rgb(var(--color-heading));
  -webkit-transform: translate(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translate(-50%) translateY(-50%) rotate(45deg);
  transform: translate(-50%) translateY(-50%) rotate(45deg);
}
.section-featured-reviews .modal-close:before {
  background: rgb(var(--color-heading));
  -webkit-transform: translate(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translate(-50%) translateY(-50%) rotate(-45deg);
  transform: translate(-50%) translateY(-50%) rotate(-45deg);
}
.section-featured-reviews .modal-inner__block .featured-reviews__heading-top {
  margin-top: 0;
}
.featured-reviews__wrapper_head .featured-reviews__stars p,
.featured-reviews__wrapper_head .featured-reviews__text p {
  font-family: var(--font-heading-family);
}

.featured-reviews__wrapper_head .featured-reviews__text p {
  color: rgba(var(--color-foreground), 0.9);
}
.section-featured-reviews .modal-container {
  position: relative;
  border: 1px solid rgb(var(--color-button-text));
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .section-featured-reviews .modal-inner__block .featured-reviews__heading-top {
    max-width: calc(100% - 0.433vw);
  }
  .featured-reviews {
    max-width: calc(100% - (4.866vw * 2));
    margin: 0 auto;
  }
  .featured-reviews__wrapper_head .featured-reviews__heading p {
    margin-bottom: 9.732vw;
  }
  .featured-reviews__wrapper_head .featured-reviews__stars p {
    font-size: 4.38vw;
    line-height: normal;
    margin-right: 3.65vw;
  }
  .featured-reviews__wrapper_head .featured-reviews__stars svg {
    height: calc(4.38vw + 1px);
    width: auto;
  }
  .featured-reviews__wrapper_head .featured-reviews__text p,
  .featured-reviews__verified_customer p,
  .featured-reviews__text p {
    font-size: 3.893vw;
    line-height: normal;
  }
  .featured-reviews__verified_customer svg {
    margin-right: 2.433vw;
    height: calc(3.893vw + 1px);
    width: auto;
  }
  .featured-reviews__verified_customer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-width: 35%;
    justify-content: flex-end;
  }
  .modal-container .featured-reviews__verified_customer {
    margin: 2.433vw 0;
  }
  .featured-reviews__block__stars {
    margin: 2.433vw 0;
  }
  .featured-reviews__block__stars svg {
    height: calc(3.893vw + 1px);
    width: auto;
  }
  .featured-reviews__heading h3.featured-reviews__heading {
    line-height: normal;
    font-size: 5.839vw;
  }
  .featured-reviews__heading h3.featured-reviews__heading:after {
    display: block;
    content: "";
    margin-top: 2.433vw;
    height: 1px;
    width: 12.165vw;
    background: rgb(var(--color-heading));
  }
  .featured-reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 19.465vw;
  }
  .featured-reviews__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 4.866vw;
    margin-bottom: 14.599vw;
    border-left: 1px solid rgb(var(--color-button-text));
    border-bottom: 1px solid rgb(var(--color-button-text));
  }
  .featured-reviews__heading-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
  .modal-container .featured-reviews__heading-top {
    align-items: flex-end;
  }
  .pagination-number {
    font-size: 4.866vw;
  }
  .section-featured-reviews .modal-close {
    right: 4.866vw;
    top: 4.866vw;
  }
  .section-featured-reviews .modal-container {
    padding: 4.866vw;
    max-width: 95vw;
    min-height: 50vh;
    max-height: 100%;
  }
  .section-featured-reviews .modal-inner__block .featured-reviews__text {
    margin-top: 12.165vw;
    max-height: 50vh;
    overflow-y: auto;
  }
  .featured-reviews__block .featured-reviews__text {
    margin-top: 12.165vw;
  }
}

@media screen and (min-width: 769px) {
  .section-featured-reviews .modal-inner__block .featured-reviews__heading-top {
    max-width: calc(100% - 2.604vw);
  }
  .featured-reviews {
    max-width: calc(100% - (5.99vw * 2));
    margin: 0 auto;
  }
  .featured-reviews__wrapper_head .featured-reviews__heading p {
    margin-bottom: 3.125vw;
  }
  .featured-reviews__wrapper_head .featured-reviews__stars p {
    font-size: 1.25vw;
    line-height: normal;
    margin-right: 0.938vw;
  }
  .featured-reviews__wrapper_head .featured-reviews__stars svg {
    height: calc(1.25vw + 1px);
    width: auto;
  }
  .featured-reviews__wrapper_head .featured-reviews__text p {
    font-size: 1.042vw;
    line-height: normal;
  }
  .featured-reviews__wrapper_head .featured-reviews__stars {
    margin-bottom: 0.521vw;
  }
  .featured-reviews__heading h3.featured-reviews__heading {
    line-height: normal;
    font-size: 1.25vw;
  }
  .featured-reviews__heading h3.featured-reviews__heading:after {
    display: block;
    content: "";
    margin-top: 0.521vw;
    height: 1px;
    width: 2.604vw;
    background: rgb(var(--color-heading));
  }
  .featured-reviews__block__stars {
    margin: 0.521vw 0;
  }
  .featured-reviews__block__stars svg {
    height: calc(0.833vw + 1px);
    width: auto;
  }
  .featured-reviews__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3.385vw;
  }
  .featured-reviews__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: calc(33.33% - 1.736vw);
    padding: 1.563vw;
    border-left: 2px solid rgb(var(--color-button-text));
    border-bottom: 2px solid rgb(var(--color-button-text));
  }
  .featured-reviews__wrapper .featured-reviews__block {
    margin-top: 2.604vw;
    margin-right: 2.604vw;
  }
  .featured-reviews__wrapper .featured-reviews__block:nth-child(3n) {
    margin-right: 0;
  }
  .featured-reviews__heading-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -0.365vw;
  }
  .featured-reviews__verified_customer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    min-width: 35%;
    justify-content: flex-end;
  }
  .modal-container .featured-reviews__verified_customer {
    margin-top: 0.156vw;
  }
  .featured-reviews__verified_customer p,
  .featured-reviews__text p {
    font-size: 0.833vw;
    line-height: normal;
  }
  .featured-reviews__verified_customer svg {
    margin-right: 0.521vw;
    height: calc(0.833vw + 1px);
    width: auto;
  }
  .pagination-container {
    margin-top: 2.604vw;
  }
  .pagination-number {
    font-size: 1.042vw;
  }
  .section-featured-reviews .modal-container {
    padding: 2.604vw;
    max-width: 50vw;
    max-height: 75vh;
  }
  .section-featured-reviews .modal-close {
    right: 2.604vw;
    top: 2.604vw;
  }
  .section-featured-reviews .modal-inner__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-featured-reviews .modal-inner__block .featured-reviews__text {
    margin-top: 2.604vw;
    overflow-y: auto;
    max-height: 50vh;
  }
  .featured-reviews__block .featured-reviews__text {
    margin-top: 2.604vw;
  }
}
