.contact img {
  max-width: 100%;
}

.contact .form__message {
  align-items: flex-start;
}

.contact .icon-success {
  margin-top: 0.2rem;
}

.contact .field:not(.last) {
  margin-bottom: 12.895vw;
}

.contact__button {
  margin-top: 9.732vw;
}

.sub-title {
  position: absolute;
  display: block;
  top: -8.029vw;
}

.sub-title > span {
  font-family: var(--font-heading-family);
  color: rgb(var(--color-foreground));
  font-size: 4.38vw;
  line-height: normal;
}

.field__input:focus ~ .field__label.f-hide {
  opacity: 0;
  visibility: hidden;
}
.contact form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.contact__fields {
  position: relative;
  width: 100%;
}
.contact .title,
.contact .title-wrapper-with-link {
  margin-bottom: 6.146vw;
}
.contact .button {
  padding: 3.163vw 6.083vw 3.406vw;
}
@media screen and (max-width: 768px) {
  .form__message .icon,
  .customer .form__message svg {
    height: 3.38vw;
    width: 3.38vw;
    margin-right: 2.38vw;
    margin-top: 1vw;
  }
  .contact .form__message {
    top: -10.5vw;
    position: relative;
    align-items: center;
  }
}
@media screen and (min-width: 769px) {
  .form__message .icon,
  .customer .form__message svg {
    height: 1vw;
    width: 1vw;
    margin-right: 0.75vw;
    margin-top: 0.3vw;
  }
  .contact .form__message {
    top: -3.5vw;
    position: relative;
    align-items: center;
  }
  .contact .field:not(.last) {
    margin-bottom: 4.583vw;
  }
  .contact__button {
    margin-top: 2.604vw;
  }
  .contact__fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1.354vw;
  }
  .sub-title {
    top: -2.5vw;
  }
  .sub-title > span {
    font-size: 1.25vw;
  }
  .contact form {
    align-items: flex-start;
  }
  .contact .button {
    padding: 0.208vw 1.302vw 0.521vw;
  }
}
